{% extends "userArea/layout.njk" %}

{% block title %}
  <title>Foodfy - Chefs</title>
{% endblock %}

{% block content %}  
  <section class='receitas'>
    <div class="chef_list">
      {% for chef in chefs %}
        <div class="card_chef" id="{{ chef.id }}">
          <img src="{{ chef.avatar_url }}" alt="{{ chef.name }}">
          <div class="info">
            <h2>{{ chef.name }}</h2>
            <p>{{ chef.qtd_recipes }} receitas</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}