{% extends "userArea/layout.njk" %}

{% block title %}
  <title>Foodfy</title>
{% endblock %}

{% block content%}
 <div class="resume">
    <div class="presentation">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>

    <div class="img-chef">
      <img src="/img/chef.png" alt="Chefe de Cozinha">
    </div>
  </div>

  <section>
    <h1>Mais vistas</h1>

    <div class="cookbook">
      {% for recipe in recipes %}
        <div class="cards" id="{{ recipe.id }}">
          <img src="/img/{{ recipe.image }}" alt="{{ recipe.title }}">
          <h2>{{ recipe.title }}</h2>
          <p>por {{ recipe.chef_name }}</p>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}