<!DOCTYPE html>

<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% block title %}
  {% endblock %}

  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/transition.css">
</head>

<body class="fadeIn">
<div class="geral">
  <header>
    <div class="logo">
      <a href="/"><img src="/img/logo.png" alt="FoodFy"></a>
    </div>
    
    <div class="links">
      <a href="/sobre">Sobre</a>
      <a href="/receitas">Receitas</a>
      <a href="/chefs">Chefs</a>
    </div>

    <div class="search">
      <form action="/receitas/busca" method="get">
        <input name="filter" type="text" placeholder="Buscar uma receita">
        <button type="submit">Buscar</button>
      </form>
    </div>
  </header>

  {% block content %}
  {% endblock %}

  <footer>
    <p>Todos os direitos reservados, receitas Foodfy</p>
  </footer>

</div>
  <script src="/scripts.js"></script>
</body>
</html>