{% extends "userArea/layout.njk" %}

{% block title %}
  <title>Foodfy - Buscando por {{ filter }}</title>
{% endblock %}

{% block content %}
  <section class='receitas'>
    <h1>Buscando por {{ filter }}</h1>
    <div class="cookbook">
      {% for recipe in recipes %}
        <div class="cards" id="{{ recipe.id }}">
          <img src="/img/{{ recipe.image }}" alt="{{ recipe.title }}">
          <h2>{{ recipe.title }}</h2>
          <p>por {{ recipe.chef_name }}</p>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}