<div class="item">
  <span>Nome</span>
  <input type="text" name="name" value="{{ chef[0].name }}">
</div>

<div class="item">
  <span>Avatar</span>
  <input type="text" name="avatar_url" value="{{ chef[0].avatar_url }}">
</div>